@{
    ViewData["Title"] = "Home Page";
}

<div id="content" style="height: 80vh;">
<div class="h-100 d-flex flex-column justify-content-center align-items-center text-center">
    <h1 class="display-4">Welcome to 2D Restaurant!</h1>
    <a class="btn btn-dark" asp-controller="Reservation" asp-action="Create">Make a Reservation</a>
    
   @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
</div>