html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-image: url(imgs/background.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

#content {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 25px;
}